{% extends 'base.html.twig' %}
{% block link %}<a class="navbar-brand ancresNav" aria-current="page" href="{{ path('admin_board')}}">Tableau de bord</a>{% endblock %}


{% block title %}New Site{% endblock %}

{% block body %}
    <h1>Create new Site</h1>

    {{ include('site/_form.html.twig') }}

    <a class="btn btn-outline-success" href="{{ path('site_index') }}">Retour liste</a>
{% endblock %}
