{% extends 'base.html.twig' %}
{% block link %}<a class="navbar-brand ancresNav" aria-current="page" href="{{ path('admin_board')}}">Tableau de bord</a>{% endblock %}


{% block title %}Edit PtMesure{% endblock %}

{% block body %}
    <h1>Edition point de mesure</h1>

    {{ include('pt_mesure/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-outline-success" href="{{ path('pt_mesure_index') }}">Retour liste</a>

    {# {{ include('pt_mesure/_delete_form.html.twig') }} #}
{% endblock %}
