{% extends 'base.html.twig' %}
{% block link %}<a class="navbar-brand ancresNav" aria-current="page" href="{{ path('admin_board')}}">Tableau de bord</a>{% endblock %}


{% block title %}New PtMesure{% endblock %}

{% block body %}
    <h1>Création nouveau point de mesure</h1>

    {{ include('pt_mesure/_form.html.twig') }}

    <a class="btn btn-outline-success" href="{{ path('pt_mesure_index') }}">Retour liste</a>
{% endblock %}
