
{% extends "@EasyAdmin/page/content.html.twig" %}



{% block page_title %}
  
{% endblock %}

{% block page_actions %}

{% endblock %}

{% block page_footer %}
 
{% endblock %}
{% block main %}

{% endblock %}
{% block content %}

</style>
  {# Gestion des styles directement dans les balise 
  car problème de mise en forme avec easyAdmin #}
  <h2>Gestion des différentes tables:</h2>
  <p style="width:300px; margin-left:2rem">
    Veuillez sélectionner les icones à gauche,<br>
    pour éditer les éléments de la base de données.
  </p>
  
  


{% endblock %}
