:root {
    --body-bg-color: rgba(96, 216, 48, 0.575);
}

html{
    /* background-color: var(--body-bg-color); */

}
body {
    /* background-color: var(--body-bg-color); */
    background-color: rgba(93, 209, 47, 0);
    /* background:url('images/industrial-concept.jpg'); */
    /* background-image:url('{{ asset('bundles/appbundle/images/industrial-concept.jpg') }}'); */
    
}


/*///////////////////////////////////////////////////////*/
/* page base */
/*///////////////////////////////////////////////////////*/
.navbar{
    margin: 1rem;
    /* background-color: rgba(152, 251, 113, 0.7) !important; */
    background-color: rgb(40, 92, 62) !important;
    width: 100%;
    border-radius: 1rem;
}
.navbar-brand{
    
}
.ancresNav{
    color: white !important;
    font-weight: bold;

}
header{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    /* background-color: burlywood; */
}

header .logo img{
    height: 8rem;
    width: auto;
}

footer .logoFooter{
    /* background-color: chartreuse; */
    width: 10rem;
}
footer .logoFooter img{
    
    width: 100%;
}

footer{
    margin: 1rem;
    height: 6rem;
    /* background-color: rgba(230, 94, 70, 0.664); */
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    
}
footer ul{
    margin-left: 4rem;
    /* width: 60rem; */
    display: flex;

}

footer li{
    list-style-type: none;
    margin: 1rem;
    color: black;
}
footer ul a{
    color: black;
}

/*///////////////////////////////////////////////////////*/
/* page home */
/*///////////////////////////////////////////////////////*/
.imageHome{
    margin-top: 1rem;
}

.image_1 img{
    width: 100%;
    height: auto;
}

.titreHome{
    background-color: rgba(40, 92, 62, 0.705);
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: rgb(255, 255, 255);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 1rem;
    
}
.articles{
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
}

.unArticle{
    display: flex;
    justify-content: center;
}
.unArticle article{
    padding: 1rem;
    background-color: rgba(40, 92, 62, 0.705);
    color: white;
    border-radius: 1rem;
    width: 80%;
}

.marge{
    height: 3rem;
}


.article-texte{
    /* background-color: rgb(191, 122, 255); */
}
.unArticle img{
    width: 40%;
    height: 100%;
    /* border: solid 3px black; */
}



/*///////////////////////////////////////////////////////*/
/* page admin */
/*///////////////////////////////////////////////////////*/
main{
    background-color: rgb(234, 255, 230);
    border-radius: 1rem;
}

.titreSite h4{
    text-align: center;
    
}
h1 {
    text-align: center;
    margin: 2rem;
}

.menuGauche {
    display: flex;
    flex-direction: column;
}
.blocBoutons {
    background-color: rgb(40, 92, 62);
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* border: 3px solid rgb(8, 41, 15); */
    /* border-radius: 1rem; */
    height: 100%;
}

.blocBoutons a{
    margin-bottom: 2rem;
    color: white;
}
.titreBlocBoutons{
    margin-bottom: 2rem;
}

.icone_btn{
    margin-right: 1rem;
}
.blocBoutons .btn {
    margin: 1rem 2rem;
}
.trancheSelection {
    display: flex;
}
.trancheSelection form {
    margin-right: 1rem;
}
h3 {
    margin-right: 1rem;
}


.trancheUtilisateurs{
    /* border: 1px solid grey; */
    background-color: rgb(201, 230, 204);
    border-radius: 1rem;
    box-shadow:  5px 5px 5px rgb(200, 200, 200);

}
.blocTableauUtilisateur {
    
}
.blocTableauUtilisateur table {
    margin: 1rem;
    width: 95%;
}
.titreUtilisateur {
    padding-top: 1rem;
    display: flex;
    margin: 1rem;
}


.trancheEquipements{
    background-color: rgb(201, 230, 204);
    border-radius: 1rem;
    box-shadow:  5px 5px 5px rgb(200, 200, 200);

}
.blocEquipement {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
.blocTitreEquipement {
    display: flex;
    padding-top: 1rem ;

}
.titreEquipements{

}
.blocEquipement h3 {
    margin-left: 1rem;
}
.blocTitreEquipement {
    margin: 1rem;
}
.tableauEquipements table {
    margin: 1rem;
    width: 95%;
}
.blocDetailEquipement {
    margin: 1rem;
    padding-bottom: 1rem;
    /* border: 1px solid grey; */
    border-radius: 1rem;
    background-color: rgb(181, 212, 183);
}
.blocDetailEquipement table {
    margin: 1rem;
    width: 95%;
}
.titreDetailEquipement{
    /* margin-top: 2rem; */
    padding-top: 1rem;
}


.blocListeDesPoints{
    margin: 1rem;
    background-color: rgb(201, 230, 204);
    border: 1px solid grey;
    border-radius: 1rem;
}

.titreListePoints {
    margin: 1rem;
    display: flex;
}
.imageEquipement {
    width: 40rem;
}
.DBA_imageEquipement img {
    display: block;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
}



/*///////////////////////////////////////////////////////*/
/* page client */
/*///////////////////////////////////////////////////////*/

.blocSiteComplet{
    background-color: rgb(201, 230, 204);
    padding: 1rem;
    border-radius: 1rem;
}
.DBC_titreSite{
    text-align: center;
    margin-bottom: 2rem;
}

.DBC_trancheSelection{
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: rgb(181, 212, 183);
    height: 4rem;
    padding: 1rem;
    border-radius: 1rem;
}
.DBC_trancheSelection form{
    margin-right: 2rem;
}
.DBC_titre_tranchSelection{
}
.DBC_imageEquipement{
    
}
.DBC_imageEquipement img{
    display: block;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    box-shadow:  5px 5px 5px rgb(200, 200, 200);
}

.BlocDesGraphiques{
    display: flex;
}

.blocUnPoint{
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: rgb(181, 212, 183);
    box-shadow:  5px 5px 5px rgb(200, 200, 200);
}
.imageGraphique{
    width: 100%;
}

