{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}

{% block body %}
  <style>
    .titreHome {
      border: 1px solid black;
    }
  </style>
  <h1 class="titreHome">HOME</h1>

  
  <img src="{{ asset('images/HVAC_logo.jpg') }}" alt="Symfony!"/>

{% endblock %}