{% extends 'base.html.twig' %}

{% block title %}New Capteur{% endblock %}

{% block body %}
    <h1>Create new Capteur</h1>

    {{ include('capteur/_form.html.twig') }}

    <a href="{{ path('capteur_index') }}">back to list</a>
{% endblock %}
